<template name="AlumniFriends">
  <div class="col-md-12">
    <div class="well">
      <div>
        <p>Welcome Castle High School Alumni and Friends! </p>
        <p><a href="School PDF Files/transcriptrequest.pdf" target="_blank">Transcript Request Form</a>		       </p>
        <p><a href="wishlist.html">Wish List from Faculty and Staff</a></p>
        <p><a href="alumnitshirts.html">Castle Alumni T-Shirts</a></p>
        <p>Please use this page to  find out about upcoming class reunions. If you would like to add or update information on this page, please email the <a href="mailto:makee_tano@notes.k12.hi.us">Webmaster.</a> Thank-you! </p>
      </div>
    </div>
  </div>
</template>