<template name="ContactUs">
  <div class="col-md-12">
    <div class="well">
      <div align="left"><h1>General Information</h1>
        <p class="style19">45-386 Kaneohe Bay Drive<br>
          Kaneohe, HI 96744</p>
        <p class="style19">Front Office: (808) 305-0700</p>
        <p class="style19">School Fax Number: (808) 233-5623</p>
        <p><span class="style19">Webmaster: <a href="mailto:tanom@knights.k12.hi.us">tanom@knights.k12.hi.us</a></span></p>
      </div>
    </div>
  </div>
</template>