<template name="FacultyStaff">
  <div class="col-md-12">
  <div class="well">
    <h1>Resources / School Services</h1>
    <ul>
      <li class="style4"><a href="Accreditation.html">Accreditation</a>
      </li><li class="style4"><a href="https://lilinote.k12.hi.us/PUBLIC/ADMINR1.NSF/85255a0a0010ae82852555340060479d/4996c004afd7cbaf0a25675f006efbd9?OpenDocument" target="_blank">Chapter 19                           </a>
    </li><li class="style4"><a href="mandatoryvideos.html">DOE Compliance Expectations - Mandatory Videos </a>
    </li><li class="style4"><a href="ferpa.html">Family Educational Rights and Privacy Act (FERPA)</a>
    </li><li class="style4"><a href="School PDF Files/2015-16 Eligibility Dates - Attach A.pdf" target="_blank">Grade Check Dates for Co-Curricular Activities</a>
    </li><li class="style4"><a href="http://www.hawaiipublicschools.org/Pages/home.aspx" target="_blank">Hawaii Department of Education</a>
    </li><li class="style4"><a href="http://www.hsta.org/" target="_blank">Hawaii State Teachers Association (HSTA)</a>
    </li><li class="style4"><a href="http://www.htsb.org/" target="_blank">Hawaii Teacher Standards Board (HTSB)</a>
    </li><li class="style4"><a href="jupitergrades.html">Jupiter Grades</a>
    </li><li class="style4"><a href="http://lilinote.k12.hi.us/WebLogin.nsf" target="_blank">Lotus Notes via a browser</a>
    </li><li class="style4"><a href="http://www.nea.org/index.html" target="_blank">National Education Association (NEA)</a>
    </li><li class="style4"><a href="https://pde3.k12.hi.us" target="_blank">Professional Development (PDE3)</a>
    </li><li class="style4">Resource Websites:<br>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PBS Learning Media - <a href="http://www.pbslearningmedia.org/" target="_blank">http://www.pbslearningmedia.org/</a><br>


    </li><li class="style4"><a href="https://iportal.k12.hi.us/sdo/SCCMViewP.aspx?doc=min" target="_blank">School Community Council (SCC) Meeting Documents</a>
    </li><li class="style4"><a href="https://tseas.eschoolsolutions.com/logOnInitAction.do" target="_blank">TSEAS Online</a>
    </li><li class="style4"><a href="wishlist.html">Wish List</a>


    </li></ul>
  </div>
</div>
</template>