<template name="StudentsParents">
  <div class="col-md-12">
    <div class="well">
      <h1>STUDENTS AND PARENTS</h1>
        <p>
        Knights occupied a special place in European history and literature. When people today hear the word "knight," many think of the days of King Arthur, Camelot and his famous Knights of the Round Table, when CHARACTER, COMMITMENT AND COMPETENCE were valued above all else. You are now a Castle High School KNIGHT and therefore expected to conduct yourselves accordingly.
      </p>
    </div>
  </div>
</template>