<template name="StudentsParents">
  <div class="col-md-12">
    <div class="well">
      <h1>STUDENTS AND PARENTS</h1>
      <div class="story">
        <div>
          <p>Knights occupied a special place in European history and literature. When people today hear the word "knight," many think of the days of King Arthur, Camelot and his famous Knights of the Round Table, when <strong>CHARACTER, COMMITMENT AND COMPETENCE</strong> were valued above all else. You are now a Castle High School KNIGHT and therefore expected to conduct yourselves accordingly.		     </p>
        </div>
        <p align="left"><h1>Academic Resources / Student Life / School Services</h1>&nbsp;                </p>
        <table class="style4" border="0">
          <tbody><tr align="left" valign="top">
            <td width="411"><p>
              <a href="Accreditation.html">Accreditation</a><br>
              <a href="School PDF Files/Attendance Policy 1-13-15.pdf" target="_blank">Attendance Policy</a><br>
              <a href="http://www.castlebandhawaii.org/" target="_blank">            Band</a><br>
              <a href="https://lilinote.k12.hi.us/PUBLIC/ADMINR1.NSF/85255a0a0010ae82852555340060479d/4996c004afd7cbaf0a25675f006efbd9?OpenDocument" target="_blank">Chapter 19</a><br>

              <a href="clubs.html">Clubs</a><br>
              <a href="http://www.k12.hi.us/~cpac/" target="_blank">CPAC</a><br>
              <a href="cte.html">Career and Technical Education (CTE)</a> <br>
              <a href="college.html">College and Career</a> <br>
              <a href="dresscode.html">Dress Code</a> <br>
              <a href="weeklyebulletin.html">E-Bulletin</a> <br>
              <a href="ferpa.html">Family Educational Rights and Privacy Act (FERPA)</a><br>
              <a href="freeandreduced.html">Free and Reduced-Price Meal Benefits </a><br>
              <a href="School PDF Files/Grading Policy 2014-15.pdf" target="_blank">Grading Policy</a><br>
              <a href="graduation.html">Graduation</a><br>
              <a href="hawaiiacademies.k12.hi.us" target="_blank">Hawaii Academies Website (SLC Schools)</a><br>
              <a href="healthroom.html">Health Room</a><br>
              <a href="jupitergrades.html">Jupiter Grades</a><br>
              <a href="knightlynews.html">Knightly News</a><br>
              <a href="School PDF Files/KEB CLASS COUNCILS 2014-2015.pdf" target="_blank">Knights Student Association</a><br>
              <a href="School PDF Files/MVA Letter to Parents.pdf" target="_blank">McKinney-Vento Homeless Assistance Act (MVA)</a><br>
              <a href="newswriting.html">Na Pali 'O Ko'olau (Newspaper)</a>  <br>
              <a href="pcnc.html">Parent Community Network Center (PCNC)</a>       <br>
              <a href="ptpseniorportfolio.html">Personal Transition Plan (Senior Portfolio)</a><br>
              <a href="projectgrad.html">Project Graduation</a><br>
              <a href="School PDF Files/Quali. of child's tchr.pdf" target="_blank">Qualifications of your Child's Teachers </a><br>
              <a href="registration.html">Registrar Office (Registration,Transcripts, Grades)</a> <br>
              <a href="bus.html">School Bus Transportation Services </a><br>
              <a href="https://iportal.k12.hi.us/sdo/SCCMViewP.aspx?doc=min" target="_blank">School Community Council (SCC) Meeting Documents</a> <br>
              <a href="schoolfees.html">School Fees</a><br>
              <a href="seniorproject.html">Senior Project</a><br>
              <a href="smalllearningcommunities.html">Small Learning Communities (SLCs)</a><br>
              <a href="School PDF Files/StriveHIPowerPoint.pdf" target="_blank">Strive HI Performance System</a> (Hawaii’s New School Accountability &amp; Improvement System)<br>
              <a href="construction.html">Student Activities</a><br>
              <a href="summerbridge.html">Summer Bridge</a><br>
              <a href="School PDF Files/Tardy Policy 07182012.pdf" target="_blank">Tardy Policy</a><br>
              <a href="wishlist.html">Wish List</a><br>
              <a href="yearbook.html">Yearbook</a><br>
            </p></td>
          </tr>
          </tbody></table>
      </div>
    </div>
  </div>
</template>