<template name="Header">
  <div class="header-image"></div>
  <!-- Responsive navbar -->
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!--  Display three horizontal lines when navbar collapsed. -->
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ pathFor 'Home' }}">Home Page</a></li>
          <li><a href="{{ pathFor 'StudentsParents' }}">Students/Parents</a></li>
          <li><a href="{{ pathFor 'FacultyStaff' }}">Faculty/Staff</a></li>
          <li><a href="{{ pathFor 'AlumniFriends' }}">Alumni/Friends</a></li>
          <li><a href="{{ pathFor 'ContactUs' }}">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>