<template name="Home">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h1>Information</h1>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Administration</a></li>
            <li><a href="">Athletics</a></li>
            <li><a href="">Bell Schedule</a></li>
            <li><a href="">Calendar</a></li>
            <li><a href="">Counselors</a></li>
            <li><a href="">Daily Bulletin</a></li>
            <li><a href="">Directories</a></li>
            <li><a href="">Knightly News</a></li>
            <li><a href="">Library</a></li>
            <li><a href="">Lunch Menu</a></li>
            <li><a href="">Small Learning Communities</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h1>Welcome to Castle High School</h1>
          <div class="knight-pride hidden-xs"></div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h1>Announcements</h1>
          <h2>October 5-9</h2>
          <p>Fall Break, No School</p>

          <h2>Monday, October 12</h2>
          <p>Teacher Institute Day - No School for Students</p>

          <h2>Tuesday, October 13</h2>
          <p>Periods 1, 3, 5, 7</p>

          <h2>Wednesday, October 14</h2>
          <p>Periods 2, 4, 6</p>

          <h2>Thursday, October 15</h2>
          <p>Periods 1, 3, 5, 7</p>

          <h2>Friday, October 16</h2>
          <p>Periods 2, 4, ADV, 6</p>
        </div>
      </div>
    </div>
  </div>
</template>
